{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block header_image %}{% static 'assets/img/home-bg.jpg' %}{% endblock %}
{% block header_title %}Blogeeks{% endblock %}
{% block header_subheading %}Bienvenido{% endblock %}

{% block crear%}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
                <hr class="my-4" />
                <!-- Post preview-->
            {% for post in posts %}
             <div class="post-preview">
                <img src="{% static 'assets/img/about-bg.jpg' %}" alt="Imagen" class="img-fluid mb-3" />
                <a href="{% url 'post_detail' post.id %}">
                    <h2 class="post-title">{{ post.titulo }}</h2>
                    <p class="post-subtitle">{{ post.contenido }}</p>
                </a>
                    <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.author }}</a>
                    on {{ post.fecha_creacion }}
                    </p>
             </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock%}